# Boat Sales  

Table of Contents
1. ### Import libraries
2. ### Import Data
3. ### Data Wrangling  
a. Change currency unit  
b. Split the location to country and city  
c. Drop the redundant columns  
4. ### Data Cleaning nad Consistency Check  
a. Check for missing data  
b. Check for duplicates  
c. Check for mixed data types

### 1. Import libraries

In [37]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [38]:
# create path
path = r'/Users/macbook/Library/CloudStorage/OneDrive-Personal/Data Analisys/Boat Sales'

### 2. Import Data

In [39]:
# import boat_data.csv
df_boat = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'boat_data.csv'), index_col = False)

In [40]:
df_boat.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [41]:
# check the shape of the dataframe
df_boat.shape

(9888, 10)

In [42]:
# check the information of each column
df_boat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

In [43]:
df_boat.describe()

        Year Built       Length        Width  Number of views last 7 days
count  9888.000000  9879.000000  9832.000000                  9888.000000
mean   1893.192860    11.570017     3.520124                   149.160801
std     460.201582     6.002820     1.220534                   151.819752
min       0.000000     1.040000     0.010000                    13.000000
25%    1996.000000     7.470000     2.540000                    70.000000
50%    2007.000000    10.280000     3.330000                   108.000000
75%    2017.000000    13.930000     4.250000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

### 03 Data Wrangling

In [44]:
# change the currency to the same unit
# split the price column
df_boat['Currency'] = df_boat.loc[:,'Price'].str.slice(0,3)

In [45]:
# count of curreny used
df_boat['Currency'].value_counts(dropna = False)

EUR    8430
CHF     980
Â£      298
DKK     180
Name: Currency, dtype: int64

In [46]:
# split the price 
df_boat['Price'] = df_boat['Price'].str.replace(r'[A-Z\D\W]', '')

/var/folders/w2/swqynjr91bldf6fp6tjyc9x80000gn/T/ipykernel_72906/2893569611.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_boat['Price'] = df_boat['Price'].str.replace(r'[A-Z\D\W]', '')

In [47]:
# change data type of price to interger
df_boat['Price'] = df_boat['Price'].astype('int')

In [48]:
# convert currency
def eurprice(Price,Currency):
    if Currency=='CHF':
        return Price * 1.02
    elif Currency=='DKK':
        return Price * 0.13
    elif Currency=='Â£':
        return Price * 1.17
    else:
        return Price
df_boat['EUR Price'] = df_boat.apply(lambda x: eurprice(x.Price, x.Currency), axis=1)

In [49]:
# check the dataframe
df_boat.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,EUR Price
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3403.74
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490.00
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3845.40
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3367.00
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399.00

In [50]:
# extract Country and City from Location
df_boat[['Country','City','Standing_point']]= df_boat['Location'].str.split('Â»', 2, expand=True)

In [51]:
# check the dataframe
df_boat.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,EUR Price,Country,City,Standing_point
0,3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3403.74,Switzerland,Lake Geneva,VÃ©senaz
1,3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490.00,Germany,BÃ¶nningstedt,None
2,3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3845.40,Switzerland,Lake of Zurich,StÃ¤fa ZH
3,25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,3367.00,Denmark,Svendborg,None
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399.00,Germany,Bayern,MÃ¼nchen

In [52]:
# Drop the redundant columns
df_boat = df_boat.drop(['Price','Currency','Location','Standing_point'], axis = 1)

In [53]:
df_boat.head()

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days,EUR Price,Country,City
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,226,3403.74,Switzerland,Lake Geneva
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,3490.00,Germany,BÃ¶nningstedt
2,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,3845.40,Switzerland,Lake of Zurich
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,64,3367.00,Denmark,Svendborg
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,3399.00,Germany,Bayern

### 04. Cleaning

In [54]:
# check for missing values
df_boat.isnull().sum()

Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Number of views last 7 days       0
EUR Price                         0
Country                          36
City                            943
dtype: int64

In [56]:
# fill the Length and Width missing valus with median
df_boat['Length'] = df_boat['Length'].fillna(df_boat['Length'].median())
df_boat['Width'] = df_boat['Width'].fillna(df_boat['Width'].median())

In [57]:
# drop the other missing values
df_boat_clean = df_boat.dropna()

In [58]:
# check the shape of the clean dataframe
df_boat_clean.shape

(6394, 11)

In [59]:
#check for missing values
df_boat_clean.isnull().sum()

Boat Type                      0
Manufacturer                   0
Type                           0
Year Built                     0
Length                         0
Width                          0
Material                       0
Number of views last 7 days    0
EUR Price                      0
Country                        0
City                           0
dtype: int64

In [61]:
# check for basic statistics
df_boat_clean.describe()

,Year Built,Length,Width,Number of views last 7 days,EUR Price
count,6394.000000,6394.000000,6394.000000,6394.000000,6.394000e+03
mean,1883.440413,10.670658,3.355988,163.303722,2.296528e+05
std,482.188034,4.812833,1.068479,167.676332,6.215380e+05
min,0.000000,1.980000,0.860000,15.000000,3.399000e+03
25%,1997.000000,7.200000,2.520000,73.000000,4.190000e+04
50%,2008.000000,9.640000,3.100000,115.000000,8.500000e+04
75%,2018.000000,13.060000,4.050000,191.000000,2.150000e+05
max,2021.000000,56.000000,16.000000,3263.000000,2.350000e+07

In [64]:
# drop the years with 0
df_boat_clean = df_boat_clean[df_boat_clean['Year Built']!=0]

In [65]:
# check for basic statistics
df_boat_clean.describe()

,Year Built,Length,Width,Number of views last 7 days,EUR Price
count,6001.000000,6001.000000,6001.000000,6001.00000,6.001000e+03
mean,2006.785202,10.834531,3.393046,165.18047,2.346750e+05
std,12.909093,4.847406,1.071161,171.31140,6.378699e+05
min,1901.000000,2.320000,0.860000,15.00000,3.399000e+03
25%,2000.000000,7.350000,2.540000,74.00000,4.290000e+04
50%,2008.000000,9.880000,3.200000,115.00000,8.700000e+04
75%,2018.000000,13.240000,4.100000,193.00000,2.190000e+05
max,2021.000000,56.000000,16.000000,3263.00000,2.350000e+07

In [66]:
# check for duplicates
df_boat_clean_dups = df_boat_clean[df_boat_clean.duplicated()]

In [67]:
df_boat_clean_dups

Empty DataFrame
Columns: [Boat Type, Manufacturer, Type, Year Built, Length, Width, Material, Number of views last 7 days, EUR Price, Country, City]
Index: []

In [68]:
# check for mixed data type
for col in df_boat_clean.columns.tolist():
  weird = (df_boat_clean[[col]].applymap(type) != df_boat_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_boat_clean[weird]) > 0:
    print (col)

In [69]:
# check for the shape of the cleaned dataframe
df_boat_clean.shape

(6001, 11)

### Export clean dataframe

In [70]:
df_boat_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'boat_data_cleaned.csv'))